{% load static %}

<html>
    <head>
        <title>Sugar Plum Movies</title>
        <link rel="stylesheet" href="{% static 'css/movies.css' %}">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap">
    </head>
    <body>
    <section id="top">
        <h1>Sugar Plum Movies</h1>
        <p>
            <a href="#">Home</a>
            |
            <a href="{% url 'html-movie-list' %}">Movies</a>
            |
            <a href="#">Projects</a>
            |
            <a href="#">Colophon</a>
        </p>
    </section>

    {% block content %}
    {% endblock %}

</body></html>