{% extends 'base.html' %}


{% block content %}
    <h1>Name: {{ director }}</h1>
        {% if director.owner == request.user.profile %}
            <p><a class="btn btn-primary" href="{% url 'html-director-update' director.id %}">Update</a>
                <a class="btn btn-danger" href="{% url 'html-director-delete' director.id %}">Delete</a>
            </p>
        {% endif %}
    {% if director.owner %}
        <p><strong>Created by: </strong>{{ director.owner.user.get_username }}</p>
    {% endif %}
    <p>
        {% if director.date_of_birth %}
            {{ director.date_of_birth }}
        {% endif %}
        -
        {% if director.date_of_death %}
            {{ director.date_of_death }}
        {% endif %}
    </p>

    <div style="margin-left:20px;margin-top:20px">
        <h4 style="margin-bottom:20px">Movies</h4>
        {% if director.movies.all|length > 0 %}
            {% for movie in director.movies.all %}
            <p>
                <strong><a href="{% url 'html-movie-detail' movie.id %}">{{ movie.title }}</a> ({{ movie.id }})</strong><br>
                {% if movie.description|length > 0 %}
                    {{movie.description|truncatewords:18 }}
                {% endif %}
            </p>
            {% endfor %}
        {% else %}
            <p>None available. </p><a href="">Create?</a>
        {% endif %}
    </div>
{% endblock %}