{% extends 'base.html' %}


{% block content %}
<h1>Director List</h1>
{% if director_list %}
    <ul>
        {% for director in director_list %}
            <li>
                    <a href="{% url 'html-director-detail' director.id %}">{{ director }}</a>
                    {% if director.date_of_birth %}
                        {{ director.date_of_birth }}
                    {% endif %}
                    -
                    {% if director.date_of_death %}
                        {{ director.date_of_death }}
                    {% endif %}
                    {% if director.owner %}
                        <strong>Created by: </strong>({{ director.owner.user.get_username }})
                    {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else%}
    <p>There are no movies in the collection.</p>
{% endif %}
{% endblock %}