{% extends 'base.html' %}


{% block content %}
    <h1>Title: {{ movie }}</h1><hr>
    {% if movie.owner == request.user.profile %}
        <p>
            <a class="btn btn-primary" href="{% url 'html-movie-update' movie.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'html-movie-delete' movie.id %}">Delete</a>            
        </p>
    {% endif %}
    {% if movie.vote.final_rating %}
        {% widthratio movie.vote.final_rating 5 200 as width %}
        <div class="containerdiv containerdiv--detail">
            <div>
                {% load static %}
                <img class="img--detail" src="{% static 'img/stars_blank.png' %}" alt="">
            </div>
            <div class="cornerimage" style="width:{{ width }}px;">
                <img class="img--detail" src="{% static 'img/stars_full.png' %}" alt="">
            </div>
        </div>
    {% endif %}
    
    {% if movie.description %}
        <p><strong>Description: </strong>{{ movie.description }}</p>
    {% endif %}
    {% if movie.language %}
        <p><strong>Language: </strong>{{ movie.language }}</p>
    {% endif %}
    {% if movie.date_released %}
        <p><strong>Released: </strong>{{ movie.date_released }}</p>
    {% endif %}
    {% if movie.directed_by %}
        <p><strong>Directed by: </strong><a href="{% url 'html-director-detail' movie.directed_by.id %}">{{ movie.directed_by }}</a></p>
    {% endif %}
    {% if movie.display_genre != '' %}
        <p><strong>Genre: </strong>{{ movie.display_genre }}</p>
    {% endif %}
    {% if movie.runtime %}
        <p><strong>Runtime: </strong>{{ movie.runtime }} minutes.</p>
    {% endif %}
    {% if movie.display_cast != '' %}
        <p><strong>Cast: </strong>{{ movie.display_cast }}</p>
    {% endif %}
    {% if movie.rating %}
        <p><strong>Rating: </strong>{{ movie.rating }}</p>
    {% endif %}
    {% if movie.owner %}
        <p><strong>Created by: </strong>{{ movie.owner.user.get_username }}</p>
    {% endif %}
    
    <div style="margin-left:20px;margin-top:20px">
        {% if movie.moviecomment_set.all|length > 0 %}
        <h4 style="margin-bottom:20px">Comments</h4>
        {% for comment in movie.moviecomment_set.all %}
            <p>
                <a href="#">{{ comment.owner.user.get_username }}</a>
                • {{ comment.date_created }}
                {% if comment.owner == request.user.profile %}
                    <a class="btn btn-primary btn-sm" href="{% url 'html-moviecomment-update' comment.id %}">Update</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'html-moviecomment-delete' comment.id %}">Delete</a>
                {% endif %}
            </p>
            <p>{{ comment.text|truncatewords:18 }}</p>
        {% endfor %}
            <p>Leave a <a href="{% url 'html-moviecomment-create' movie.id %}">comment.</a></p>
        {% else %}
            <p>Be the first to <a href="{% url 'html-moviecomment-create' movie.id %}">comment.</a></p>
        {% endif %}
        <p><a href="{% url 'movie-vote' movie.id %}">Vote.</a></p>
    </div>

{% endblock %}