{% extends 'base.html' %}


{% block content %}

<h2>{{ object.title }}</h2>
<p class="light-text">Created by
    {% if object.owner.user %}
        {{ object.owner.user }}
    {% else %}
        anonymous
    {% endif %}
</p>

{% if object.description %}
    <p>{{ object.description }}</p>
{% endif %}

{% if object.language %}
    <p>{{ object.language }}</p>
{% endif %}

{% if object.date_released %}
    <p>{{ object.date_released }}</p>
{% endif %}

{% if object.directed_by %}
    <p>{{ object.directed_by }}</p>
{% endif %}

{% if object.genres %}
    <p>{{ object.display_genre }}</p>
{% endif %}

{% if object.cast %}
    <p>{{ object.display_cast }}</p>
{% endif %}

{% if object.rating %}
    <p>Rating: {{ object.rating }}</p>
{% endif %}

{% endblock %}