{% extends 'base.html' %}


{% block content %}
    <h1>Title: {{ movie.title }}</h1>
    {% if movie.description %}
        <p><strong>Description: </strong>{{ movie.description }}</p>
    {% endif %}
    {% if movie.language %}
        <p><strong>Language: </strong>{{ movie.language }}</p>
    {% endif %}
    {% if movie.date_released %}
        <p><strong>Released: </strong>{{ movie.date_released }}</p>
    {% endif %}
    {% if movie.directed_by %}
        <p><strong>Directed by: </strong><a href="{% url 'html-director-detail' movie.directed_by.id %}">{{ movie.directed_by }}</a></p>
    {% endif %}
    {% if movie.display_genre != '' %}
        <p><strong>Genre: </strong>{{ movie.display_genre }}</p>
    {% endif %}
    {% if movie.display_cast != '' %}
        <p><strong>Cast: </strong>{{ movie.display_cast }}</p>
    {% endif %}
    {% if movie.rating %}
        <p><strong>Rating: </strong>{{ movie.rating }}</p>
    {% endif %}
{% endblock %}