.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

div.pagination {
    margin-top: 20px;
}

/* Rating list and detail */

.cornerimage {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.containerdiv {
    border: 0;
    position: relative;
}
.containerdiv--detail {
    width: 200px;
    margin-bottom: 20px;
}
.containerdiv--list {

    width: 100px;
    margin-bottom: 8px;
}
img.img--detail {
    max-width: 200px;
}
img.img--list {
    max-width: 100px;
}